@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
    text-align: center;
    background-color: black;
    color: white;
}

header h1{
    font-family: 'Passion One', cursive;
    font-size: 10vh;
    color: white;
    font-weight: 500;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

main{
    font-family: 'Sriracha', cursive;
    text-align: left;
    line-height: 2.5em;
    font-style: italic;
    font-size: medium;
    padding-bottom: 60px;
}

#Joana{
    background-image: url(../imagens/background001.jpg);
    max-height: 500px;
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 25px 0px 25px 25px;
}

#livro{
    background-image: url(../imagens/background002.jpg);
    max-height: 500px;
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 25px 0px 25px 25px;
}

p{
    font-weight: 600;
    font-size: large;
    padding: 0px 0px 0px 25px;
}

footer{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 15px;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}